@using FirstApp.Models
@model Login
@{
    ViewData["Title"] = "Authentication";
}


@if (Model != null)
{
         <h1 class="display-4">Welcome, @Model.Email</h1>
   @* <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    <partial name="CatalogIndex" /> *@
}




@* @if (User?.Identity?.IsAuthenticated ?? true)
{
    <h1 class="display-4">Welcome, @Model.Email</h1>
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}
else
{
    <h1 class="display-4">Welcome </h1>
}
 *@