@* @using FirstApp.Models
@model Login *@
@{
    ViewData["Title"] = "Authentication";
}

<div class="container">
    @* <partial name="../Catalog/CatalogIndex.cshtml" /> *@
</div>
 

@*@if (Model != null)
{
         <h1 class="display-4">Welcome, @Model.Email</h1>*@
@*    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>*@
@*    <partial name="CatalogIndex" /> 
}*@
@* 
@if (User?.Identity?.IsAuthenticated ?? true)
{
    <h1 class="display-4">Welcome, @Model.Email</h1>
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}
else
{
    <h1 class="display-4">Welcome </h1>
}
//  @if (User.IsInRole("Administrators"))
// {
//     <h1 class="display-4">Welcome, @Model.Email</h1>
//     <div class="nav-item">
//         <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
//     </div>
// }
// else
// {
//     <div class="nav-item">
//         <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="/">Login</a>
//     </div>
// }
 *@