<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<!--throwConfigExceptions="true"-->

	<!--[變數] 文字樣板 -->
	<variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${callsite} | ${message} ${newline}"/>
	
	<!--[變數] 檔案位置 -->
	<variable name="LogTxtDir" value="${basedir}/App_Data/Logs/${shortdate}/"/>

	<!--[設定] 寫入目標-->
	<targets>
		<!--Trace,Debug,Info,Warn,Error,Fatal-->
		<target name="Trace" xsi:type="File" fileName="${LogTxtDir}/Talent_${level:uppercase=true}.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
				archiveAboveSize="1048576" archiveFileName="${LogTxtDir}/Talent_${level:uppercase=true}.log{#######}" />
		<target name="Debug" xsi:type="File" fileName="${LogTxtDir}/Talent_${level:uppercase=true}.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
				archiveAboveSize="1048576" archiveFileName="${LogTxtDir}/Talent_${level:uppercase=true}.log{#######}" />
		<target name="Info" xsi:type="File" fileName="${LogTxtDir}/Talent_${level:uppercase=true}.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
				archiveAboveSize="1048576" archiveFileName="${LogTxtDir}/Talent_${level:uppercase=true}.log{#######}" />
		<target name="Warn" xsi:type="File" fileName="${LogTxtDir}/Talent_${level:uppercase=true}.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
				archiveAboveSize="1048576" archiveFileName="${LogTxtDir}/Talent_${level:uppercase=true}.log{#######}" />
		<target name="Error" xsi:type="File" fileName="${LogTxtDir}/Talent_${level:uppercase=true}.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
				archiveAboveSize="1048576" archiveFileName="${LogTxtDir}/Talent_${level:uppercase=true}.log{#######}" />
		<target name="Fatal" xsi:type="File" fileName="${LogTxtDir}/Talent_${level:uppercase=true}.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
				archiveAboveSize="1048576" archiveFileName="${LogTxtDir}/Talent_${level:uppercase=true}.log{#######}" />
		<target name="Database" type="Database">
			<dbprovider>mssql</dbprovider>
			<!-- database connection parameters -->
			<!-- alternatively you could provide a single 'connectionstring' parameter -->
			<connectionString>Persist Security Info=False;User ID=[db user id];Password=[db user password];Initial Catalog=[db name];Server=[db host]</connectionString>
			<commandText>
				insert into LogTable(time_stamp,level,logger,message) values(@time_stamp, @level, @logger, @message);
			</commandText>
			<parameter name="@time_stamp" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${callsite}" />
			<parameter name="@message" layout="${message}" />
		</target>
		
	</targets>

	<!--[設定] 紀錄規則-->
	<rules>
		<logger name="*" levels="Trace" writeTo="Trace,Database" />
		<logger name="*" levels="Debug" writeTo="Debug,Database" />
		<logger name="*" levels="Info" writeTo="Info,Database" />
		<logger name="*" levels="Warn" writeTo="Warn,Database" />
		<logger name="*" levels="Error" writeTo="Error,Database" />
		<logger name="*" levels="Fatal" writeTo="Fatal,Database" />
	</rules>

</nlog>